body {
    background-image: url("../images/oldpaper.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    color: darkgreen;
} 

html {
    font-family: "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    line-height: 1.25;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: darkred;
}

h1 {
    font-size: 350%;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    letter-spacing: 0.12em;
    word-spacing: 0.2em;
    text-indent: 0
}

h2 {
    font-size: 200%;
    margin-top: 2em;
    margin-bottom: 1em
}

h3 {
    font-size: 150%;
    margin-top: 1em
}

h4 {
    font-size: 125%;
}

h5 {
    font-size: 110%;
}

.no-break {
    page-break-before: avoid;
}

.chapter {
    page-break-before: always;
    margin-top: 4em
}

hr {
    width: 80%;
    margin-top: 2em;
    margin-bottom: 2em
}

p {
    text-indent: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

p.poem {
    text-indent: 0%;
    margin-left: 10%;
    font-size: 90%;
    margin-top: 1em;
    margin-bottom: 1em
}

.p2 {
    margin-top: 2.5em;
}

p.letter {
    text-indent: 0%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em
}

p.noindent {
    text-indent: 0%
}

p.right {
    text-align: right;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em
}

p.center {
    text-align: center;
    text-indent: 0;
    margin-top: 1em;
    margin-bottom: 1em
}

p.asterism {
    margin-left: 25%;
    text-indent: 0%;
    letter-spacing: 0.12em;
    margin-top: 1em;
    margin-bottom: 1em
}

p {
    text-indent: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

p.poem {
    text-indent: 0%;
    margin-left: 10%;
    font-size: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
}

p.letter {
    text-indent: 0%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.letter {
    text-indent: 0%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

p.noindent {
    text-indent: 0%;
}

.fig {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

figcaption {
    text-align: center;
    font-style: italic;
    padding: 2px;
    background-color: black;
    color: white;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: purple;
    text-decoration: none;
}

a:hover {
    color: red;
}